{% extends 'layout.html' %}
{% from 'macros.html' import navbar %}
{% block navbar %}
{{ navbar('/' ,user)}}
{% endblock %}

{% block main %}

<div class="container ">
    <div class="row p-5 ">
        <div class="row ">
            <h4 class="col mb-4">cierre de votaciones</h4>

            <h4 class="col mb-4">{{'n° de mesa: '+mesa.numero_mesa}}</h4>
            <h4 class="col mb-4">{{'sede: '+mesa.sede}}</h4>

        </div>
        <p>para efectuar el cierre de la mesa de votaciones por favor rellenar la sieguiente informaion:</p>
        <form action={{"/editar-mesa/"+user.mesa+'/'+user.sede_id}} method="post">
            <div class="rounded bg-danger bg-opacity-50 container p-2">

                <div class="row">
                    <h6 CLASS="col">PROYECTOS SECTORIALES</h6>
                    <h6 class="col">CANTIDAD DE VOTOS</h6>
                </div>
                {%for sectorial in sectoriales%}
                <div class="input-group mb-3">
                    <span class="input-group-text">PS{{sectorial.id+' : '+sectorial.name}}</span>
                    <span class="input-group-text">sector {{sectorial.sector}}</span>
                    <input type="number" value={{sectorial.cant_votes}} name={{'count_votes'+sectorial.id}}
                        class="form-control">
                    <input type="text" name={{'id_option'+sectorial.id}} hidden value={{sectorial.id}}>
                </div>
                {%endfor%}
            </div>

            {# ------- #}
            <div class="rounded bg-success bg-opacity-50 container p-2">

                <div class="row">
                    <h6 CLASS="col">PROYECTOS COMUNALES</h6>
                    <h6 class="col">CANTIDAD DE VOTOS</h6>
                </div>
                {%for comunal in comunales%}
                <div class="input-group mb-3">
                    <span class="input-group-text">{{comunal.name}}</span>
                    <span class="input-group-text">sector {{comunal.sector}}</span>
                    <input type="number" value={{comunal.cant_votes}} name={{'count_votes'+comunal.id}}
                        class="form-control">
                    <input type="text" name={{'id_option'+comunal.id}} hidden value={{comunal.id}}>
                </div>
                {%endfor%}

            </div>

            {# ------ #}
            <div class="rounded bg-primary bg-opacity-50 container p-2">

                <div class="row">
                    <h6 CLASS="col ">PROYECTOS INFANTILES</h6>
                    <h6 class="col">CANTIDAD DE VOTOS</h6>
                </div>
                {%for infantil in infantiles%}
                <div class="input-group mb-3">
                    <span class="input-group-text">{{infantil.name}}</span>
                    <span class="input-group-text">sector {{infantil.sector}}</span>
                    <input type="number" value={{infantil.cant_votes}} name={{'count_votes'+infantil.id}}
                        class="form-control">
                    <input type="text" name={{'id_option'+infantil.id}} hidden value={{infantil.id}}>
                </div>
                {%endfor%}
            </div>


            {# ----- #}
            <div class="rounded bg-secondary bg-opacity-50 container p-2">
                <div class="row">
                    <h6 CLASS="col">PROYECTOS JUVENILES</h6>
                    <h6 class="col">CANTIDAD DE VOTOS</h6>
                </div>
                {%for juvenil in juveniles%}
                <div class="input-group mb-3">
                    <span class="input-group-text">{{juvenil.name}}</span>
                    <span class="input-group-text">sector {{juvenil.sector}}</span>
                    <input type="number" value={{juvenil.cant_votes}} name={{'count_votes'+juvenil.id}}
                        class="form-control">
                    <input type="text" name={{'id_option'+juvenil.id}} hidden value={{juvenil.id}}>
                </div>
                {%endfor%}

            </div>

            <button class="btn btn-primary rounded-bottom mt-2" type="submit">Registrar Votación</button>
        </form>

    </div>

</div>
{% endblock %}
{% block script %}

{% endblock script %}