{% extends 'layout.html' %}

{% block main %}
<main class="form-signin">
  <form class=" bg-white p-2 rounded" method="post" action="/login">
    <h1 class="h3 mb-3 fw-normal">Ingrese a la Plataforma</h1>
    {# radios #}
    <div class="row m-2">

      <div class="form-check col ">
        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="funcionario" checked>funcionario
        <label class="form-check-label" for="radio2"></label>
      </div>
      <div class="form-check col ">
        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="admin">Admin
        <label class="form-check-label" for="radio1"></label>
      </div>
    </div>

    <div class="form-floating my-2">
      <input name="email" required type="text" class="form-control" placeholder="name@example.com">
      <label for="floatingInput">Email o username</label>
    </div>
    <div class="form-floating my-2">
      <input name="password" required type="password" class="form-control" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <!--
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
    <!-- <a href="/register"> Registrarse</a> -->
  </form>
</main>
<style>
  main {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
  }

  form {
    box-shadow: 10px 5px 5px #ccc;
    border: 1px solid #ccc;
    margin-top: 20px;
    width: 40%;
  }

  @media (max-width: 768px) {
    form {
      width: 60%;
    }
  }
</style>
{% endblock %}