{% extends 'layout.html' %}
{% from 'macros.html' import navbar %}
{% block navbar %}
{{ navbar('/' ,user)}}
{% endblock %}

{% block main %}

<div class="container ">
    <div class="row p-5 ">
        <form action="/nueva-votacion" method="post">
            <div class="row ">
                <h4 class="col mb-4">Nueva votacion</h4>

                <div class="col mb-4">
                    <h4>periodo</h4>
                    <select name="periodo" id="periodo" required>
                        <option selected>seleccione periodo</option>
                        <option value=2022>2022</option>
                        <option value=2023>2023</option>
                        <option value=2024>2024</option>
                        <option value=2025>2025</option>
                        <option value=2026>2026</option>
                        <option value=2027>2027</option>
                        <option value=2028>2028</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <p>seleccionar tipo de proyecto</p>
                <select class='selects' name="tipoProyecto" required>
                    <option value="selec m-2" selected>seleccionar tipo</option>
                    {%for project_type in project_types%}
                    <option value={{project_type.id}}>{{project_type.name}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">sector de proyecto</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name='sector' placeholder="sector"
                    required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">nombre de proyecto</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" required name='name'
                    placeholder="name@example.com">
            </div>





    </div>
    <button class="btn btn-primary rounded-bottom" type="submit">Agregar Votación</button>
    </form>

</div>

</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    let count = 1;
    function agregar() {
        let o = document.createElement("input");
        o.type = "text";
        o.name = 'proyecto' + count;
        o.value = '';
        o.class = 'm-2'

        document.getElementById('proyectosSectoriales').appendChild(o)
        count++;
    }


</script>
{% endblock %}