{% extends 'layout.html' %}
{% from 'macros.html' import navbar %}
{% block navbar %}
{{ navbar('/' ,user)}}
{% endblock %}

{% block main %}

<div class="container m-5 ">
    <form action="/abrir-mesa" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text">Encargado de mesa</span>
            <input type="text" name='encargado' class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">numero de mesa </span>
            <input type="text" name='numero_mesa' class="form-control">
        </div>
        <select class="form-select mb-2" aria-label="Default select example" name="sede">
            <option selected>selecciona sede</option>
            {%for sede in sedes %}
            <option value={{sede}}>{{sede}}</option>
            {%endfor%}
        </select>
        <button type="submit" class="btn btn-primary">registrar</button>
    </form>


</div>
{% endblock %}
{% block scripts %}

{% endblock %}