{% extends 'layout.html' %}
{% from 'macros.html' import navbar %}
{% block navbar %}
{{ navbar('/' ,user)}}
{% endblock %}

{% block main %}

<div class="container-fluid ">
    <div class="row ">
        <h4 class="col mb-4">cierre de votaciones</h4>

        <h4 class="col mb-4">Total final votaciones</h4>

    </div>
    <div class="row  ">
        <div class="col-xs12 col-sm-2 col-md-4 p-0">
            <table class="table table-responsive table-bordered bg-danger bg-opacity-25">
                <thead>
                    <tr>
                        <th>Sedes </th>
                        {%for sede in sedes%}
                        <th>{{sede.name}}</th>
                        {%endfor %}
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {%for data in array_proyectos_sectoriales%}
                    <tr>
                        <th>
                            {{data.proyecto+' : '}}
                        </th>
                        <td>{{data.sede_1}}</td>
                        <td>{{data.sede_2}}</td>
                        <td>{{data.sede_3}}</td>
                        <td>{{data.sede_4}}</td>
                        <td>{{data.sede_5}}</td>
                        <td>{{data.sede_6}}</td>
                        <td>{{data.sede_7}}</td>
                        <td>{{data.sede_8}}</td>
                        <td>{{data.sede_9}}</td>
                        <td>{{data.sede_10}}</td>
                        <td>{{data.sede_11}}</td>
                        <td>{{data.sede_12}}</td>
                        <td>{{data.sede_13}}</td>
                        <th>{{data.total}}</th>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        {# ------- #}
        <div class="row">




            <div class="row">
                <h6 CLASS="col">PROYECTOS COMUNALES</h6>

            </div>
            <div class="col-xs12 col-sm-2 col-md-4 p-0">
                <table class="table table-responsive table-bordered bg-success bg-opacity-25">
                    <thead>
                        <tr>
                            <th>Sedes </th>
                            {%for sede in sedes%}
                            <th>{{sede.name}}</th>
                            {%endfor %}
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for data in array_proyectos_comunales%}
                        <tr>
                            <th>
                                {{data.proyecto+' : '}}
                            </th>
                            <td>{{data.sede_1}}</td>
                            <td>{{data.sede_2}}</td>
                            <td>{{data.sede_3}}</td>
                            <td>{{data.sede_4}}</td>
                            <td>{{data.sede_5}}</td>
                            <td>{{data.sede_6}}</td>
                            <td>{{data.sede_7}}</td>
                            <td>{{data.sede_8}}</td>
                            <td>{{data.sede_9}}</td>
                            <td>{{data.sede_10}}</td>
                            <td>{{data.sede_11}}</td>
                            <td>{{data.sede_12}}</td>
                            <td>{{data.sede_13}}</td>
                            <th>{{data.total}}</th>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# ------ #}
    <div class="row">

        <div class="row">
            <h6 CLASS="col">PROYECTOS INFANTILES</h6>

        </div>
        <div class="col-xs12 col-sm-2 col-md-4 p-0">
            <table class="table table-responsive table-bordered bg-primary bg-opacity-25">
                <thead>
                    <tr>
                        <th>Sedes </th>
                        {%for sede in sedes%}
                        <th>{{sede.name}}</th>
                        {%endfor %}
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {%for data in array_proyectos_infantiles%}
                    <tr>
                        <th>
                            {{data.proyecto+' : '}}
                        </th>
                        <td>{{data.sede_1}}</td>
                        <td>{{data.sede_2}}</td>
                        <td>{{data.sede_3}}</td>
                        <td>{{data.sede_4}}</td>
                        <td>{{data.sede_5}}</td>
                        <td>{{data.sede_6}}</td>
                        <td>{{data.sede_7}}</td>
                        <td>{{data.sede_8}}</td>
                        <td>{{data.sede_9}}</td>
                        <td>{{data.sede_10}}</td>
                        <td>{{data.sede_11}}</td>
                        <td>{{data.sede_12}}</td>
                        <td>{{data.sede_13}}</td>
                        <th>{{data.total}}</th>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

    </div>
    {# ----- #}


    <div class="row">
        <h6 CLASS="col">PROYECTOS JUVENILES</h6>

    </div>
    <div class="col-xs12 col-sm-2 col-md-4 p-0">
        <table class="table table-responsive table-bordered bg-warning bg-opacity-25">
            <thead>
                <tr>
                    <th>Sedes </th>
                    {%for sede in sedes%}
                    <th>{{sede.name}}</th>
                    {%endfor %}
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {%for data in array_proyectos_juveniles%}
                <tr>
                    <th>
                        {{data.proyecto+' : '}}
                    </th>
                    <td>{{data.sede_1}}</td>
                    <td>{{data.sede_2}}</td>
                    <td>{{data.sede_3}}</td>
                    <td>{{data.sede_4}}</td>
                    <td>{{data.sede_5}}</td>
                    <td>{{data.sede_6}}</td>
                    <td>{{data.sede_7}}</td>
                    <td>{{data.sede_8}}</td>
                    <td>{{data.sede_9}}</td>
                    <td>{{data.sede_10}}</td>
                    <td>{{data.sede_11}}</td>
                    <td>{{data.sede_12}}</td>
                    <td>{{data.sede_13}}</td>
                    <th>{{data.total}}</th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>



</div>
<a href="/" class="btn btn-primary">Volver</a>
</div>
</div>
{% endblock %}
{% block script %}

{% endblock script %}