{% extends 'layout.html' %}
{% from 'macros.html' import navbar %}
{% block navbar %}
{{ navbar('/',user )}}
{% endblock %}

{% block main %}

<div class="container ">
    <div class="row p-5 ">
        <div class="row ">
            {# <h4 class="col mb-4">Folio:{{folio}}</h4> #}
            <h4 class="col mb-4">{{'mesa numero :'+mesa.name}}</h4>

            <h4 class="col mb-4">{{'sede:'+mesa.sede}}</h4>

        </div>
        <form action={{"/registrar-voto/"+user.sede_id+'/'+mesa.name}} method="post">
            <!-- <span>seleccione periodo de votacion</span> -->
            <!-- <select required class="form-select" name="periodo">
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
            </select> -->
            <div class="mb-3 mt-3">
                <label for="rut" class="form-label">Folio:</label>
                {# <input type="text" name="folio" value="{{folio}}" hidden> #}
                <input type="text" required class="form-control" id="folio" placeholder="ingrese folio" name="folio">
            </div>
            <div class="mb-3 mt-3">
                <label for="rut" class="form-label">Rut contribuyente:</label>
                <input type="text" required class="form-control" id="rut" placeholder="Ejemplo :12.345.678-9"
                    name="rut">
            </div>
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Nombre contribuyente:</label>
                <input required type="text" class="form-control" id="name" placeholder="Ejemplo :juan perez"
                    name="name">
            </div>
            <div class="mb-3 mt-3">
                <label for="rut" class="form-label">Dirección/Calle/Pasaje:</label>
                <input type="text" required class="form-control" id="adress"
                    placeholder="Ejemplo :calle sin nombre 0000" name="adress">
            </div>
            <div class="mb-3 mt-3">
                <label for="rut" class="form-label align-items-start">fecha de nacimiento</label>
                <input required type="date" class="form-control" id="edad" placeholder="Ejemplo :30" name="edad">
            </div>
            <button class="btn btn-primary rounded-bottom" type="submit">Registrar Votación</button>
        </form>

    </div>

</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    let rut = ''


    document.getElementById('rut').addEventListener('input', function (evt) {
        let value = this.value.replace(/\./g, '').replace('-', '');

        if (value.match(/^(\d)(\d{3}){2}(\w{0,1})$/)) {
            value = value.replace(/^(\d{7})(\w{0,1})$/, '$1-$2');
        }
        if (value.match(/^(\d)(\d{3}){2}(\w{0,2})$/)) {
            value = value.replace(/^(\d{8})(\w{0,2})$/, '$1-$2');
        }
        // else if (value.match(/^(\d)(\d{3})(\d{0,2})$/)) {
        //     value = value.replace(/^(\d)(\d{3})(\d{0,2})$/, '$1-$2');
        // }
        // else if (value.match(/^(\d)(\d{0,2})$/)) {
        //     value = value.replace(/^(\d)(\d{0,2})$/, '$1-$2');

        this.value = value;
    });


    const rutInput = document.getElementById("rut");
    rutInput.addEventListener("keyup", function () {
        var rut = rutInput.value.toLowerCase();
        fetch('/contribuyentes/' + rut)
            .then(response => response.json())
            .then(data => {
                if (data) {
                    document.getElementById('name').value = data.nombres + ' ' + data.apellido_paterno + ' ' + data.apellido_materno;
                    document.getElementById('adress').value = data.domicilio;
                    if (data.edad) {
                        document.getElementById('edad').value = data.edad;
                    }
                }
            })
            .catch(error => console.error('Error:', error));


        fetch('/votes-exist/' + rut)
            .then(response => response.json())
            .then(data => {
                if (data) {
                    console.log(data.mensaje);
                    alert(data.mensaje)
                }
            })
            .catch(error => console.error('Error:', error));

    });

    const folioInput = document.querySelector('#folio')
    folioInput.addEventListener("keyup", function () {
        var folio = folioInput.value.toLowerCase();

        fetch('/votes-exist/' + folio)
            .then(response => response.json())
            .then(data => {
                if (data) {
                    console.log(data.mensaje);
                    alert(data.mensaje)
                }
            })
            .catch(error => console.error('Error:', error));

    });


</script>
{% endblock %}